// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// topページのcss
.top-image {
  width: 100%;
  height: 300px;
  background-image: url(4962229552eedca4b3e7839611f7763a.jpg);
  background-size:cover;
}

.welcome-text {
  background-color: rgba(255, 255, 255, 0.6);
  font-family: "MS Pゴシック" ;
}


// aboutページのcss
.about {
   width: 100%;
  height: 100%;
  background-color: #fffaf0;
}

.about-image {
  height: 450px;
  background-image: url(1199ac4f5eaf3d70470fbbd16331ae71.jpg);
  background-size: cover;
  background-position: center;
}

.text-image {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}