<%= form_with url: items_path, method: :get do |f| %>
<div class="input-group">
  <div class="input-group-prepend">
    <%= f.label :商品名, class: "input-group-text" %>
  </div>
  <%= f.text_field :word, class: "form-control w-50", placeholder: "キーワード" %>
  <%= f.submit "検索", class: "btn text-white form-control ", style: "background-color: #a0522d;" %>
</div>
<% end %>

