<div class="container">
  <h2 class="my-5">会員一覧</h2>
  <div class="row justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
    </table>
      <tbody>
        <!--% @customers.each do |customer| %>
      #publicで作成したら＃外す。（しばじゅん）-->
      </tbody>
  </div>

