<div class="container">
  <h2 class="text-center mb-5 mt-5 w-25", style="background-color:#d3d3d3;">会員一覧</h2>
  <div class="row justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
             <td class="info col-xs-1">
                <%= customer.id %>
             </td>
             <td class="text-left">
                <%= link_to customer.last_name, admin_customer_path(customer) %>
                <!--なぜかここだけ、full-nameが反映できない(しばじゅん）-->
             </td>
             <td class="text-left">
                <%= customer.email %>
             </td>
             <td class="col-xs-2">
                <% if customer.is_deleted == true%>
                  <p class="text-secondary">退会済</p>
                <% else %>
                  <p class="text-success">有効</p>
                <% end %>
             </td>
         </tr>
        <% end %>
      </tbody>
    </table>
  </div>

