<div class="container">
  <div class="row">
      <h3 class="text-center mb-5 mt-5 w-25", style="background-color:#d3d3d3;">注文情報確認</h3>
    <div class="col-xs-9">
 <table class='table mt-5 w-50'>
  <thead style="background-color:#d3d3d3;">
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>

  <tbody>
    <td></td>
    <td></td>
  </tbody>
  <% end %>
 </table>
</div>

    <div class="col-xs-2 offset-md-1">
      <table>
        <tr><th>送料</th><td></td></tr>
        <tr><th>商品合計</th><td></td></tr>
        <tr><th>請求金額</th><td></td></tr>
      </table>

  </div>
</div>