<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center mb-5 mt-5 w-25", style="background-color:#d3d3d3;">注文情報確認</h3>
      
      
      
      
      
    </div>
  </div>
</div>